#CategoryBox {
    position: relative;
    left: 700px;
    bottom: 500px;
    height: fit-content;
    width: fit-content;
    background-color: papayawhip;
}
.Category:hover {
    background-color: dodgerblue;
    color: orangered;
}
.CategoryIcon {
    height: 30px;
    width: 30px;
}