#CategoryBox {
    height: 300px;
    width: 400px;
    background-color: white;
    -webkit-box-shadow:3px 20px 8px #B8B1B1  ;
    -moz-box-shadow:3px 20px 8px #B8B1B1  ;
    box-shadow:0px 3px 20px 8px #B8B1B1  ;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;

}
.category {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-around;
    border: solid 2px transparent;
}

#IconWrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.CategoryIcon {
    height: 30px;
    width: 30px;
}
#CategoryWrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
#CategoryInCN{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.colored {
    color:#e13128;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.selectEffect {
    border-left: solid 2px black;
}
