#DisplayBox {
    height: 750px;
    width: 900px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    overflow-y: scroll;
    -webkit-box-shadow:3px 20px 8px #B8B1B1  ;
    -moz-box-shadow:3px 20px 8px #B8B1B1  ;
    box-shadow:0px 3px 20px 8px #B8B1B1  ;
}

