#SearchBar {
    display: flex;
    display: -webkit-flex;
    height: fit-content;
    width: fit-content;
}
.SearchContent {

    outline: none;
    height: 40px;
    width: 400px;
    border: none;
    /*border-top:solid 1px black;*/
    /*border-left:solid 1px black ;*/
    /*border-bottom:solid 1px black ;*/
    /*border-top-left-radius: 7px;*/
    /*border-bottom-left-radius: 7px;*/
    font-size: 18px;


}
.SearchContent:hover {
    background-color: whitesmoke;
    transition: 0.5s;
    -webkit-box-shadow:3px 3px 3px #B8B1B1  ;
    -moz-box-shadow:3px 3px 3px #B8B1B1  ;
    box-shadow:0px 1px 5px 3px #B8B1B1  ;
}
.SearchSubmit:hover {
    background-color: lightgray;
    transition: 0.3s;
    -webkit-box-shadow:3px 3px 3px #B8B1B1  ;
    -moz-box-shadow:3px 3px 3px #B8B1B1  ;
    box-shadow:0px 3px 5px 3px #B8B1B1  ;
}
#SearchBar > .SearchContentHover {
    height: 42px;
    transition: 100ms;
    border-right: none;
    border-top:solid 2px black;
    border-left:solid 2px black ;
    border-bottom:solid 2px black ;
}
#SearchBar > .SearchSubmitHover {
    transition: 100ms;
    border-top:solid 2px black;
    border-bottom:solid 2px black ;
    border-right: solid 2px black ;
    border-left: none;
}
.SearchSubmit:active {
    transition: 0.3s;
    background-color: white;
    -webkit-box-shadow:3px 3px 3px #B8B1B1  ;
    -moz-box-shadow:3px 3px 3px #B8B1B1  ;
    box-shadow:0px 3px 5px 3px #B8B1B1  ;
}
.SearchSubmit {
    outline: none;
    height: 40px;
    /*border-top:solid 1px black;*/
    /*border-bottom:solid 1px black ;*/
    /*border-right: solid 1px black ;*/
    /*border-left: none;*/
    background-color: white;
}
