#UserService {
    -webkit-box-shadow:3px 20px 8px #B8B1B1  ;
    -moz-box-shadow:3px 20px 8px #B8B1B1  ;
    box-shadow:0px 3px 20px 8px #B8B1B1  ;
    height: 750px;
    width: 500px;
    background-color: white;
}

.UploadImages {
    width: 85%;
    height: 110px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    border: solid 2px black;
}
.UploadImages:hover {
    background-color: #EEEDED;
}
.WarnInfo {
    text-align: center;
    height: 20px;
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 20px;
    visibility: hidden;
}
.UploadImage {
    border: solid 2px gray;
    width: fit-content;
    height: 20px;
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #DAD5D5
}
.ImageWarning {
    width: 150px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
    visibility: hidden;
}
.coverImage, .otherImages{
    width: 170px;
}
.Cover {
    background-color: lightblue;
}
.ItemInfoWrapper label {
    margin-left: 5%;
}
.ItemInfoWrapper textarea {
    margin-left: 5%;

}
.ItemInfoWrapper input {
    margin-left: 5%;
}
.category {
    margin-left: 5%;
}
.title, .price {
    width: 200px;
    outline: none;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.Title,.Price{
    height: 45px;
}
.description {
    border: solid 2px black;
    height: 110px;
    width: 57%;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow-y: scroll;

}
.ItemInfoWrapper label {

    text-align: center;
    font-size: 20px;
    width: 120px;
    background-color: #EEEDED;
}
.Description {
    height: 120px;
}
.UploadFileWrapper label {
    font-weight: bold;

}
#UploadArea button {
    height: 40px;
    width: 100px;
    align-items: center;
    font-size: 20px;
    border: solid 2px black;
    outline: none;

}
#UploadArea button:hover {
    cursor: pointer;
    background-color: #CBC5C5;
}
#UploadArea button:active {
    position: relative;
    top:2px;
    left: 1px;
}
.UploadFileWrapper {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}
.ItemInfoWrapper {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}
.UploadImage:hover {
    color: white;
    cursor: pointer;
    background-color: lightcoral;
    border: solid 2px red;
}
.UploadImage:active {
    background-color: #EEEDED;
}
.MyItem {
    display: inline-block;
}
.UploadItem {
    float: right;
}
#UploadForm {
    width: 100%;
    height: 700px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.MyItemWrapper:hover {
    border:solid 2px dodgerblue;
    -webkit-box-shadow:0px 3px 3px gray ;
    -moz-box-shadow:0px 3px 3px gray ;
    box-shadow:0px 3px 3px gray ;
}
.ItemTitle {
    height: 30px;
    overflow-x: scroll;
}
.MyItemWrapper {
    position: relative;
    left: 5%;
    height: 300px;
    width: 220px;
    border: solid 2px transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
#ItemArea, #UploadArea {
    width: 100%;
    height: 700px;

}
#ItemArea .ItemContainer {
    position: relative;
    left: 5%;
}
#ItemArea {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow-y: scroll;
}
.MyItem, .UploadItem {
    height: 50px;
    width: 50%;
    font-size: 30px;
    text-align: center;
}